body {
  color: #000000;
  background-color: #f2f2f2;
  outline: 1px solid #666;
  font-family: PT Sans;
  font-size: 0px;
  font-weight: normal;
  line-height: normal;
}
ul {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
h1 {
  color: #000000;
  font-family: PT Sans, bold;
  font-size: 21px;
}
h2 {
  color: #000000;
  font-family: PT Sans, bold;
  font-size: 21px;
}
p {
  font-size: 14px;
}
span {
  font-size: 14px;
}
header {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  vertical-align: top;
  outline: 1px solid #666;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.main-item {
  outline: 1px solid #666;
  background-image: url(../img/background.jpg);
}
.navigation-item {
  display: inline-block;
  width: 240px;
  text-align: center;
  outline: 1px solid red;
  font-size: 14px;
}
.navigation-item:nth-child(1) {
  box-sizing: border-box;
  padding-left: 72px;
  text-align: left;
}
.navigation-item:nth-child(2) {
  margin-right: 240px;
}
.navigation-item:nth-child(4) {
  box-sizing: border-box;
  padding-right: 72px;
  text-align: right;
}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}
.welcome-image {
  padding-top: 78px;
  padding-right: 371px;
  padding-left: 371px;
}
.intro {
  display: inline-block;
  background-color: #ffffff;
  width: 1200px;
  text-align: center;
  outline: 1px solid #666;
  font-size: 14px;
  text-transform: uppercase;
}
.reasons {
  width: 1200px;
  box-sizing: border-box;
  font-size: 0px;
  text-transform: uppercase;
}
.reasons-blue {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 0px;
  color: #ffffff;
  background-color: #81b3d2;
}
.reasons-gray {
  display: inline-block;
  box-sizing: border-box;
  background-color: #eeeeee;
}
.experiences {
  display: inline-block;
  font-size: 0px;
  box-sizing: border-box;
  width: 1200px;
  outline: 1px solid #666;
}
.experience-item {
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  text-align: center;
}
.reason-item {
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  height: 256px;
  vertical-align: top;
  text-align: center;
  outline: 1px solid #666;
}
.reasons-blue {
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
}
.reasons-blue .reason-image {
  display: inline-block;
  box-sizing: border-box;
  width: 800px;
}
.interest {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  text-align: center;
  outline: 1px solid #666;
  font-size: 14px;
}
.footer-item {
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
}
.main-footer {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  vertical-align: top;
  outline: 1px solid #666;
}
.hotel-choice {
  background-image: url(../img/filter.jpg);
  outline: 1px solid #666;
}
.infrastructure {
  padding-left: 72px;
  width: 253px;
  vertical-align: top;
  padding-top: 30px;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  outline: 1px solid #666;
  font-size: 14px;
}
.accomodation {
  width: 474px;
  font-size: 14px;
  padding-top: 30px;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  outline: 1px solid #666;
}
.search-results {
  width: 185 px;
vertical-align: top;
  margin-left: 72px;
  margin-right: 50px;
  outline: 1px solid #666;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0px;
  text-transform: uppercase;
}
.hotels {
  display: inline-block;
  box-sizing: border-box;
  background-color: #000000:
  width: 1200px;

}
.filter-range {
  width: 330px;
  padding-top: 30px;
  margin-right: 72px;
  display: inline-block;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
}
.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.sort {
  width: 890px;
  background-color: #eeeeee;
  outline: 1px solid #666;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0px;
}
.sort-item {
  display: inline-block;
  box-sizing: border-box;
  ;
  width: 240px;
  text-align: center;
  outline: 1px solid red;
  font-size: 14px;
}
.sort-item:nth-child(1) {
  box-sizing: border-box;
  padding-left: 36px;
  text-align: left;
}
.sort-item:nth-child(2) {}
.sort-item:nth-child(3) {
  box-sizing: border-box;
  padding-right: 72px;
  text-align: right;
}
.hotel-item {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  outline: 1px solid #666;
}
.hotel-image {
  text-align: center;
  display: inline-block;
  width: 135px;
  box-sizing: border-box;
  margin-left: 72px;
  outline: 1px solid #666;
}
.hotel-summary {
  width: 663px;
  padding-left: 30px;
  display: inline-block;
  box-sizing: border-box;
    outline: 1px solid #666;
}
