body {
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0px;
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  line-height: normal;
}
@font-face {
  font-family: "symbols-sedona";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
h1 {
  color: #000000;
  font-family: PT Sans, bold;
  font-size: 21px;
  line-height: 26px;
}
h2 {
  color: #000000;
  font-family: PT Sans, bold;
  font-size: 21px;
  line-height: 21px;
}
h3 {
  color: #000000;
  font-family: PT Sans, bold;
  font-size: 30px;
  line-height: 24px;
}
p {
  font-size: 14px;
  line-height: 26px;
}
span {
  font-size: 14px;
  line-height: 21px;
}
header {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  vertical-align: top;
  background-color: #ffffff;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
}
.map {
  position: relative;
  width: 1200px;
  height: 593px;
  background: #d9e1c2 url(../img/map.jpg);
}
.main-item {
  background: #4f81ac url(../img/background.jpg);
  background-position: center 20%;
}
.navigation-item {
  display: inline-block;
  width: 240px;
  padding-top: 16px;
  padding-bottom: 19px;
  text-align: center;
  font-size: 14px;
}
.navigation-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.navigation-item a:hover {
  color: #81b3d2;
}
.navigation-item a:active {
  color: #e5e5e5;
}
.navigation-item:nth-child(1) {
  box-sizing: border-box;
  padding-left: 72px;
  text-align: left;
}
.navigation-item:nth-child(2) {
  margin-right: 240px;
}
.navigation-item:nth-child(4) {
  box-sizing: border-box;
  padding-right: 72px;
  text-align: right;
}
.catalog-navigation a {
  color: #766357;
}
.catalog-navigation a:hover {
  color: #604e43;
}
.catalog-navigation a:active {
  color: rgba(118, 99, 87, 0.5);
}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}
.welcome-image {
  margin-left: 50%;
  padding-top: 77px;
  padding-bottom: 23px;
  transform: translateX(-50%);
}
.intro {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  padding-top: 45px;
  padding-bottom: 37px;
  text-align: center;
  vertical-align: top;
  background-color: #ffffff;
  font-size: 14px;
}
.intro h1 {
  display: block;
  margin-bottom: 27px;
}
.reasons {
  box-sizing: border-box;
  width: 1200px;
  text-transform: uppercase;
  font-size: 0px;
}
.reasons p {
  line-height: 21px;
}
.reasons-blue {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 0px;
}
.reasons-blue .reason-item {
  padding-top: 38px;
  padding-bottom: 16px;
}
.reasons-blue .reason-item h2 {
  display: block;
  margin-bottom: 27px;
}
.reasons-gray {
  display: inline-block;
  box-sizing: border-box;
  background-color: #eeeeee;
}
.reasons-gray .reason-item {
  padding-top: 30px;
  padding-bottom: 47px;
}
.reasons-gray .reason-item h2 {
  display: block;
  margin-bottom: 30px;
}
.experiences {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  font-size: 0px;
  line-height: 18px;
}
.experience-item {
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  padding-top: 57px;
  padding-bottom: 58px;
  text-align: center;
  background-color: #ffffff;
}
.experience-item h2 {
  display: block;
  margin-top: 21px;
  margin-bottom: 22px;
}
.reason-item {
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  text-align: center;
  vertical-align: top;
}
.reasons-blue {
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
}
.reasons-blue .reason-image {
  display: inline-block;
  box-sizing: border-box;
  width: 800px;
  background-color: #889a73;
}
.reasons-blue h2 {
  color: #ffffff;
}
.interest {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  padding-top: 22px;
  text-align: center;
  background-color: #ffffff;
  font-size: 14px;
}
.interest h3 {
  display: block;
  margin-top: 35px;
}
.interest p {
  line-height: 24px;
}
.search-hotel {
  display: inline-block;
  width: 566px;
  height: 56px;
  margin: 0px auto;
  margin-top: 44px;
  padding-top: 17px;
  padding-bottom: 14px;
  text-decoration: none;
  background-color: #766357;
}
.search-hotel h2 {
  text-align: center;
  color: #ffffff;
}
.rating {
  display: block;
  margin-top: 44px;
  padding: 3px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f3;
}
.footer-item {
  display: inline-block;
  box-sizing: border-box;
  width: 400px;
  padding-top: 35px;
  padding-bottom: 47px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}
.footer-item a {
  text-decoration: none;
  color: inherit;
}
.copyright-down, .copyright-hvr, .copyright-normal {
  background: url(../img/sprites.png) no-repeat;
}
.copyright-down {
  width: 113px;
  height: 39px;
  background-position: 0px -50px;
}
.copyright-hvr {
  width: 113px;
  height: 39px;
  background-position: -0px -100px;
}
.copyright-normal {
  width: 113px;
  height: 39px;
  background-position: -1px 0;
}
.copyright a:after {
  display: inline-block;
  width: 113px;
  height: 39px;
  content: "";
  vertical-align: middle;
  background: url(../img/sprites.png);
  background-position: -1px 0;
}
.copyright a:hover:after {
  width: 113px;
  height: 39px;
  background: url(../img/sprites.png);
  background-position: -1px -100px;
}
.copyright a:active:after {
  width: 113px;
  height: 39px;
  background: url(../img/sprites.png);
  background-position: 0px -50px;
}
.hashtag a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.main-footer {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  vertical-align: top;
  background-color: #ffffff;
}
.index-footer {
  position: absolute;
  margin-top: -118px;
  background: rgba(255, 255, 255, 0.9);
}
.search-form {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 26.4%;
  font-size: 0px;
  width: 566px;
  padding: 55px;
  background-color: #ffffff;
}
.search-form span {
  display: inline-block;
  width: 94px;
  height: 38px;
  padding-left: 0px;
  padding-right: 17px;
  font-size: 14px;
  font-weight: bold;
}
.search-button {
  display: inline-block;
  margin-top: 55px;
  font-size: 21px;
  color: #ffffff;
  line-height: 26px;
  width: 457px;
  height: 58px;
  border: 0;
  text-transform: uppercase;
  background-color: #81b3d2;
}
.search-button:hover {
  background-color: #669ec0;
}
.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}
.search-form input {
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  text-align: left;
  padding-top: 5px;
  font-size: 12px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}
.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #e5e5e5;
}
.check-in {
  display: inline-block;
  height: 26px;
  text-align: left;
  margin-bottom: 40px;
}
.check-in-date {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  width: 342px;
  height: 26px;
}
.check-out {
  display: inline-block;
  height: 26px;
  text-align: left;
  margin-bottom: 40px;
}
.check-out-date {
  display: inline-block;
  vertical-align: middle;
  width: 342px;
  height: 26px;
}
.adults {
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
  height: 26px;
}
.adults input {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
}
.adults span {
  display: inline-block;
  padding-right: 17px;
}
.children {
  display: inline-block;
  font-size: 0px;
  vertical-align: top;
  height: 26px;
}
.children span {
  display: inline-block;
  padding-left: 14px;
  text-align: center;
}
.children input {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-left: 10px;
  width: 20px;
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-family: "symbols-sedona";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;
  speak: none;
}
button {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  width: 36px;
  height: 36px;
  border: 0;
  padding: 0px;
  margin: 0px;
  background-color: #f2f2f2;
}
.icon-facebook::before {
  content: "\66";
}
.icon-twitter::before {
  content: "\74";
}
.icon-up-dir::before {
  content: "\25b2";
  color: #d1d1d1;
  font-size: 20px;
}
.icon-down-dir::before {
  content: "\25bc";
  color: #81b3d2;
  font-size: 20px;
}
.icon-up-dir:hover::before {
  color: #000000;
}
.icon-up-dir:active::before {
  color: #81b3d2;
}
.icon-star::before {
  content: "\2605";
  color: #8bb9d5;
  font-size: 16px;
}
.icon-check-off::before {
  content: "\2610";
}
.icon-check-on::before {
  content: "\2611";
}
.icon-calendar::before {
  display: block;
  color: #c2c2c2;
  font-size: 20px;
  content: "\e800";
  position: absolute;
  margin-top: -48px;
  right: 167px;
}
.icon-calendar:hover:before {
  color: #000000;
}
.icon-calendar:active:before {
  color: #81b3d2;
}
.icon-plus::before {
  content: "\e801";
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}
.icon-plus:hover:before {
  color: #000000;
}
.icon-plus:active:before {
  color: #81b3d2
}
.icon-minus::before {
  content: "\e802";
  font-size: 14px;
  vertical-align: top;
  line-height: 26px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}
.icon-minus:hover:before {
  color: #000000;
}
.icon-minus:active:before {
  color: #81b3d2
}
.icon-youtube::before {
  content: "\f39e";
}
.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  text-align: center;
  vertical-align: top;
  background-color: #81b3d2;
  font-size: 0px;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
}
.social-btn:active span {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}
.social-btn span {
  color: #ffffff;
  font-size: 19px;
  line-height: 48px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin-bottom: 25px;
  cursor: pointer;
  line-height: 20px;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "\2610";
  font-family: "symbols-sedona";
  font-size: 26px;
}
input[type="checkbox"]:checked + label:before {
  content: "\2611";
}
input[type="checkbox"]:disabled + label:before {
  content: "\2610";
  color: #646565;
}
.hotel-choice {
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 5px;
  padding-left: 72px;
  background: #71889d url(../img/filter.jpg);
}
.hotel-choice h2 {
  margin: 0 0;
  color: #ffffff;
}
.infrastructure {
  display: inline-block;
  box-sizing: border-box;
  width: 255px;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}
.infrastructure h2 {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
}
.accomodation {
  display: inline-block;
  box-sizing: border-box;
  width: 255px;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}
.accomodation h2 {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
}
.hotels {
  display: inline-block;
  box-sizing: border-box;
  width: 1200px;
  background-color: #ffffff;
}
.hotels h1 {
  margin: 0px;
}
.filter-range {
  display: inline-block;
  box-sizing: border-box;
  width: 520px;
  padding-left: 200px;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;
}
.filter-range-title {
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  content: "";
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
}
.price-controls .min-price, .price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  font: inherit;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  background: transparent;
  font-size: 14px;
  line-height: 20px;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.search-sort {
  padding-top: 27px;
  padding-right: 72px;
  padding-bottom: 32px;
  padding-left: 72px;
  background-color: #ffffff;
}
.search-results {
  display: inline-block;
  box-sizing: border-box;
  width: 165px;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 0px;
}
.search-results span {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.sort {
  display: inline-block;
  box-sizing: border-box;
  width: 781px;
  vertical-align: bottom;
  font-size: 0px;
}
.sort ul {
  display: inline-block;
  box-sizing: border-box;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}
.sort-name {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}
.dir-icons {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  text-align: right;
  vertical-align: top;
}
.sort-item {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 35px;
  vertical-align: bottom;
  font-size: 12px;
}
.sort-item a {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.sort-price a {
  color: #81b3d2;
}
.sort-item a:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}
.sort-item a:active {
  color: #000000;
  border-bottom: 0;
}
.hotel-item {
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 18px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}
.hotel-item:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}
.hotel-item a {
  text-decoration: none;
}
.hotel-image {
  display: inline-block;
  box-sizing: border-box;
  width: 165px;
}
.hotel-summary {
  display: inline-block;
  box-sizing: border-box;
  width: 781px;
  padding-top: 0px;
  vertical-align: top;
  color: #000000;
}
.hotel-summary h1 a {
  line-height: 1;
  text-decoration: none;
  color: #000000;
}
.hotel-summary h1 a:hover {
  color: #81b3d2;
}
.hotel-summary h1 a:active {
  color: #cacaca;
}
.hotel-details {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.details {
  display: block;
  margin-top: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  color: #eeeeee;
  background-color: #81b3d2;
  font-size: 14px;
}
.book {
  display: block;
  margin-top: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  color: #eeeeee;
  background-color: #766357;
  font-size: 14px;
}
.hotel-details a:hover {
  background-color: #669ec0;
}
.hotel-details a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-price a:hover {
  background-color: #604e43;
}
.hotel-price a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-price {
  display: inline-block;
  box-sizing: border-box;
  width: 142px;
  padding-top: 5px;
  padding-bottom: 10px;
  vertical-align: top;
}
.hotel-rating {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  text-align: right;
  vertical-align: top;
  font-size: 0px;
}
